@model Chair80CP.Models.tbl_setting

@{
    ViewBag.Title = "Delete";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @ViewBag.Title
                </h2>
                <u class="header-dropdown m-r--5">

                </u>

            </div>
            <div class="body">
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.setting_key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.setting_key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.setting_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.setting_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.setting_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.setting_value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.setting_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.setting_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datasource_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datasource_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datasource_json)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datasource_json)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.setting_group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.setting_group)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.display)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.display)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sequance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sequance)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
                <button type="submit" class="btn btn-danger btn-md delete">Delete</button>
                @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary btn-md back" })
        </div>
    }
		</div>

		</div>
    </div>
</div>
