@model Chair80CP.Models.sec_access_right

@{
    ViewBag.Title = "Create";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @ViewBag.Title
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>

                    </li>
                </ul>
            </div>
            <div class="body">
                <h2 class="card-inside-title">Create</h2>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("Create", "SecAccessRight", FormMethod.Post, new { @class = "ajaxform" }))
                        {
                            @Html.AntiForgeryToken()
                            <label for="role_id">role_id</label>
                            <div class="form-group">
                                <div class="form-line">

                                    @Html.DropDownList("role_id", null, htmlAttributes: new { @class = "form-control show-tick", placeholder = "role_id" })

                                </div>
                            </div>

                            <label for="model_name">model_name</label>
                            <div class="form-group">
                                <div class="form-line">

                                    @Html.EditorFor(model => model.model_name, new { htmlAttributes = new { @class = "form-control", placeholder = "model_name" } })

                                </div>
                            </div>

                            <label for="method_name">method_name</label>
                            <div class="form-group">
                                <div class="form-line">

                                    @Html.EditorFor(model => model.method_name, new { htmlAttributes = new { @class = "form-control", placeholder = "method_name" } })

                                </div>
                            </div>

                            <label for="force_filter">force_filter</label>
                            <div class="form-group">
                                <div class="form-line">

                                    @Html.EditorFor(model => model.force_filter, new { htmlAttributes = new { @class = "form-control", placeholder = "force_filter" } })

                                </div>
                            </div>

                            <div class="form-action">
                                <button type="submit" class="btn btn-success create">Create</button>
                                @Html.ActionLink("Back to List", "Index", "SecAccessRight", new { }, new { @class = "btn btn-primary back" })
                            </div>
                        }
                    </div>
</div>
</div>
</div>
</div>

