@model IEnumerable<Chair80CP.Models.trip_request>
@using Chair80CP.Libs
@{
    ViewBag.Title = "Index";
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @ViewBag.Title
                </h2>
               
            </div>
            <div class="body">
                <div class="table-responsive">
    <div class="table-responsive">
        <table class="table table-striped table-hover js-basic-example dataTable">
            <thead>
                <tr>
                    <th>
                        Rider
                    </th>
                    <th>
                        Seats
                    </th>
                    <th>
                        Start Date
                    </th>
                    
                    <th>
                        Kick Off
                    </th>
                    <th>
                        Destination
                    </th> 
                    <th>
                        Sub Trips
                    </th> 
                    <th>
                        Trip Type
                    </th>
                    <th></th>
                </tr>
	</thead>
@foreach (var item in Model) {
            <tr>
                <td>
                    <a href="/Profiles/Details/@item.rider_id">

                        <img src="@Settings.Get("api_url")/img/crope/tbl_accounts/@item.rider_id/30x30/main-last.gif" class="img-circle img-profile">
                        @item.tbl_accounts.first_name  @item.tbl_accounts.last_name
                        </a>
                </td>
                <td>
                    @item.seats
                </td>
                <td>
                    @(item.start_at_date != null ? item.start_at_date.Value.ToString("yyyy-MM-dd") : "")
                </td>
                
                <td>
                    @(item.trip_request_details.FirstOrDefault() != null ? item.trip_request_details.FirstOrDefault().from_plc : "")
                </td>
                <td>
                    @(item.trip_request_details.FirstOrDefault() != null ? item.trip_request_details.FirstOrDefault().to_plc : "")
                </td>
                <td>
                    <a class="modal-link" title="Requested Trips" href="/TripRequestedDetails/?id=@item.id">

                        @item.trip_request_details.Count()
                    </a>
                </td>  
                <td>
                    @item.trip_types.name.local()
                </td>

                <td>
                    @Html.ActionLink("remove_red_eye", "Details", new { id = item.id }, new { @class = "btn material-icons details" })
                    @Html.ActionLink("delete", "Delete", new { id = item.id }, new { @class = "btn text-danger material-icons delete" })
                </td>

            </tr>
}

</table>
</div>

                </div>            
            </div>
</div>
</div>
</div>

